<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Star Laboratory{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:wght@400;700&family=Tiro+Gurmukhi:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lab/css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-6">
          <header>
            <h6 id="tagline">ਜੋ ਜੀ ਆਵੇ ਸੋ ਰਾਜ਼ੀ ਜਾਵੇ ।</h6>
            <img
              id="logo"
              src="{% static 'lab/images/star.png' %}"
              alt="Star Logo"
              height="90"
            />
            <h1>Star Laboratory</h1>
          </header>
        </div>
        <div
          class="col-sm-3 ps-5"
          style="border-left: 1px dotted black; color: rgb(135, 53, 50)"
        >
          <p>
            S. Nachhattar Singh <br />
            <i>Prop.</i>
          </p>
          <p>
            Mr Jaspal Singh<br />
            <i>Lab Technician (D.M.L.T.)</i>
          </p>
          <p>
            Loharan-Chahrke Road,<br />
            Bhogpur, Jalandhar
          </p>
        </div>
        <div class="col-sm-3 text-center">
          <div id="contact-info">
            <i>Contact us at: </i><br />
            <a href="tel:+91-181-5050018">0181-5050018</a>
          </div>
        </div>
        <hr />
        <div class="row mb-2">
          <nav class="navbar navbar-expand">
            <div class="container">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Tests</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Packages</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <hr />
      </div>
      <div class="row">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
