{% extends 'lab/base.html' %} {% load static %} {% block content %}

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide col-md-6"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'lab/images/car1.jpeg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'lab/images/car2.jpeg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'lab/images/car3.jpeg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
<div class="col-md-3">
  <h2 class="title">Authorised Collection Centre For</h2>
  <ul class="facilities">
    <li>Lal Path Lab</li>
    <li>Accuprobe Lab</li>
    <li>Metropolis Lab</li>
    <li>SRL Lab</li>
    <li>CRL Lab</li>
  </ul>
</div>
<div class="col-md-3">
  <h2 class="title">Facilities</h2>
  <ul class="facilities">
    <li>Health Packages</li>
    <li>Qualified Staff</li>
    <li>Home Collection</li>
    <li>Hormone Assays</li>
    <li>Imported Machines</li>
  </ul>
</div>

{% endblock %}
