{% extends 'lab/base.html' %} {% load static %} {% block content %}

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide col-sm-6"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'lab/images/car1.jpeg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'lab/images/car2.jpeg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'lab/images/car3.jpeg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>

{% endblock %}
